body {
    margin: 0;
    width: 100vw;

}
.author-main {
    margin: 100px auto 100px auto;
    position: relative;
    width: 1000px;
    height: 800px;
    flex: auto;

    display: table;
}
.left-image {
    margin-left: 10%;
    ;

}
.left-image img {
    margin: auto;
    height:300px ;
    width: 400px;

}

.author {
    float: left;
    height: 99%;
}
.author-main .left {
    width: 50%;
    margin: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.70), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.author-main .right {
    width: 50%;
    background: #fffafb;
    margin: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.70), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.right-main {
    padding: 40px 20px 40px 20px;
}
.right-main p{
    color: black;
}

.left-des p{
    text-align: center;
    font-size: 60px;
    color: white;
}

