body{
    margin: 0;
    background: #A2E3C4;
    color: #fff;
}
#timerColor {
    width: 200px;
    height: 200px;
}

.left-side{
    position: absolute;
    left: 10px;
    top: 200px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;

}

.product-card {
    border: solid 1px;
    margin: 10px;
    display: flex;
    color: #A2E3C4;
    flex-direction: column;
    padding-top: 2%;
    flex: 1 16%;
    border-radius: 7px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    background: #fff;
}

.product-image img  {
    width: 200px;
    height: 300px;
    padding: 0 0 4% 20px;
}

.product-info {
    margin-top: auto;
    text-align: center;
    background: #22253c;
    border-radius: 5px;
}
#hideShow{
    transition-duration: 0.4s;
    height: 400px;
    width: auto;
    margin: 10px;
}
.sub-cat {
    position: relative;
    bottom: 0;
}
#content {
    position: relative;
    height: 100%;
    background: rgba(255, 250, 251, 0.51);
    width: 800px;


}

.add-to-cart{
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 5px;
    border-radius: 5px;
}
.price {
    color: fff;
    padding: 10px;
    margin-left: 17px;


}
.btn-default{
    flex: 1;
    transition: 0.4s;
    color: #fff;
    background-color: #A2E3C4;
    text-transform: uppercase;
}
.btn {
    background-color: #22253c;
    max-width: 150px;
    color: #fff;
    border: 0;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
    margin: 10px;
    font-size: 1vw;
}
.btn:hover {
    background-color: #A2E3C4;
    color: #000000;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    transition: 0.5s;
    margin: 5px;
    padding: 10px;

}
.shopping-cart {
   width: 50px;
}
/*description div*/
.details-column img {
    border: solid 1px white;
}

.details-column {
    float: left;
    padding: 10px;
    height: 360px;

}
.details-main{
    display: none;
    margin: 0 0 0 10px;


}
.details-main img{
    width: 250px;
    height: 360px;
    float: right;

}
.row-name td {
    padding : 10px 0 10px 0;
    text-align: justify;
    font-family: montserratbold , sans-serif;
    font-size: 1.6vw;

}
.row-author td {
    padding-bottom: 10px;
    text-align: justify;
    font-family: montserrat_semiboldregular , sans-serif;
    font-size: 1.1vw;

}
.row-about td {
    padding-bottom: 5px;
    text-align: justify;
    font-family: 'montserrat_lightregular', sans-serif;
    font-size: 1vw;

}
.details-column td {

}
.details-main:after {
    content: "";
    display: table;
    clear: both;
}
.left {
    background: rgba(34, 37, 60, 0.8);
    margin: 5px 0 5px 5px;
    width: 32%;
}
.right {
    background: rgba(34, 37, 60, 0.8);
    margin: 5px 5px 5px 0;
    width: 61%;

}

/*drop down*/
.dropbtn {
    font-family: montserrat_semiboldregular, sans-serif;
    background-color: #46494c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 20%;
}
.dropdown:hover .dropbtn {
    background-color: #000000;
}

.content-right{
    margin-top: 200px;
}

.dropdown-content {
    font-family: montserrat_semiboldregular, sans-serif;
    display: none;
    position: absolute;
    background-color: #22253c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}




