body{
    margin: 0;
    background: #23a89b;
}
#timerColor {
    width: 200px;
    height: 200px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;

}

.product-card {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    flex: 1 16%;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    background: #fff;
}

.product-image img {
    width: 200px;
    height: 300px;
    padding-left: 30px;
}

.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}
#hideShow{
    transition-duration: 0.4s;
    height: 400px;
    width: auto;
    margin: 10px;
}
.sub-cat {
    position: relative;
    bottom: 0;
}
#content {
    position: relative;
    height: 100%;
    background: rgba(255, 250, 251, 0.51);

}

.add-to-cart{
    flex: 1;
    display: flex;
    align-items: center;
    background: #23a89b;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.btn-default{
    flex: 1;
    transition: 0.4s;
    color: #fff;
    background-color: #23a89b;
    text-transform: uppercase;
}
.btn {
    background-color: #23a89b;
    color: #fff;
    border: 0;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    /*margin: 20px;*/
    font-size: 1.2vw;
}
.btn:hover {
    background-color: #46494c;
    color: #65b1ff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
}
.shopping-cart {
   width: 50px;
}
/*description div*/
.details-column {
    float: left;
    width: 45%;
    padding: 10px;
    height: 360px;
}
.details-main:after {
    content: "";
    display: table;
    clear: both;
}
.left {
    background: rgba(43, 44, 40, 0.49);
    margin: 5px;
}
.right {
    background: rgba(43, 44, 40, 0.49);
    margin: 5px;


}


