div .wrapper {
    margin: 0 auto;
    width: 922px;

}
#header {
    position: relative;
    width: auto;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    height: 100px;
    margin: 0px 0px 5px 0px;
    background-color:#F3F2ED;
}
#content {
    position: relative;
    left: 25%;
    width: 900px;
    color: #333;
    border: 1px solid #ccc;
    background:#CCC8B3;
    margin: 0px 0px 5px 0px;
    padding: 10px;
    height: 800px;
}
#footer {
    color: #333;
    width: 900px;
    border: 1px solid #ccc;
    background-color:#F3F2ED;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}
