/*Heading*/
.heading {
  text-align: center;
  padding-top: 22px;
  display: block;
  background: rgba(255, 250, 251, 0.51);
  height: 45px;
  margin: 15px 0 0 0 ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.bestseller-body  {
  background: url("../images/pallette.png");
  font-family: sans-serif;
  margin: 0;
  padding-top: 10vh;
  height: 100vh;
}
.book-type-image img {
  width: 100%;
  height: auto;
}
.book-categories {
  margin-bottom: 5px;
  text-align: center;
  margin-left: 15%;
  width: 1000px;
  background: rgba(255, 250, 251, 0.39);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;

}

/* hover styles */
.book-listing {
  position: relative;
}

.book-type-image {
  overflow: hidden;
  border-radius: 10px;
}

img .book-type-image  {
  transform: scale(1.1);
}

.book-title  {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(0,0,0,0.4);
  color: white;
  border-radius: 10px;

  /* position the text in the middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-listing:hover .book-title {
  opacity: 1;
}

.book-listing:hover .book-type-image img {
  filter: blur(2px);
}


