/*Document for Screens*/
body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;
}

/*Text*/
h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}
h2 {
    margin: 0 0 1em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}
h2 {
    margin: 0 0 1em 0;
    font-size: 1.6em;
    font-weight: 700;
}
h4 {
    margin: 0 0 1em 0;
    font-size: 1em;
    font-weight: 700;
}
p {
    margin: 0 0 1em 0 ;
}
a {
    color: #007eff;
}
a:visited {
    color: #65b1ff;
}

/*Header*/
header {
    height: 100vh;
    background-image: url(../images/s-o-c-i-a-l-c-u-t-1146935-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
header a.logo {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    background: url("../images/logo.png") no-repeat 0 0;
    background-size: contain;
    top: 15px;
    left: 20px;
}
header a.logo span {
    display: none;
}
header div.cover {
    background: black;
    opacity: ;
    position: absolute;
    width: 42%;
    top: 45%;
    left: 55%;
}