/*Document for Screens*/
body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/*Text*/
h1 {
    margin: 0 0 0.5em 0;
    font-size: 4vw;
    font-weight: 700;
    color: #fff;
}
h2 {
    margin: 0 0 1em 0;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.1em;
}
h3 {
    margin: 0 0 1em 0;
    font-size: 1.5vw;
    font-weight: 700;
    color: #fff;
}

h4 {
    margin: 0 0 1em 0;
    font-size: 1em;
    font-weight: 700;
}
p {
    margin: 0 0 1em 0 ;
}
a {
    color: #fff;
}
a:visited {
    color: #65b1ff;
}
a.btn {
    background-color: #4c5c68;
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1vw 1.8vw;
    transition: 0.3s;
    position: absolute;
    left: 70%;


}
a.btn:hover {
    background-color: #1985a1;
    color: #000;
}

/*Header*/
header {
    height: 100vh;
    background: url("../images/nicole-honeywill-1221926-unsplash.jpg") center no-repeat;
    background-size: cover;

}
header div.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
header a.logo {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: url("../images/logo.png") no-repeat 0 0;
    background-size: contain;
    top: 15px;
    left: 13vw;
}
header a.nav-space {
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
}
header a.logo span {
    display: none;
}
header div.cover {
    position: relative;
    width: 42%;
    top: 40%;
    left: 40%;
    text-align: right;
}
/*header div.top-nav {*/
/*    height: 100px;*/
/*}*/
/*navigation*/

nav {
    position: sticky;
    float: right;
    top: 0;
    right: 17vw;
    border-radius: 4px;
    background: #4c5c68;
    z-index: 3;

}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    text-transform: uppercase;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
}
nav ul li a.active {
    background-color: #1985a1;
    color: #fff;
    border-radius: 4px;
}

nav ul li a:hover {
    background: #46484c;
    color: #fff;
    border-radius: 4px;
}
nav ul li a:hover:not (.active){
    background: #4c5c68;
    color: #fff;
}
nav ul li ul {
    display: block;
    min-width: 50px;
    position: absolute;
    margin-top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition:  .5s;
    transform: translateY(40px);
    background: #4c5c68;
}
nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
nav ul li ul li a {
    padding: 10px;
}
/*section-all*/
section {
    padding: 0 30px;
}
div .container {
    position: relative;
    z-index: 2;

}
.container .box {
    width: 600px;
    margin: -30px auto 0 auto;
    display: table;

}
.container .box .box-row{
    display: table-row;
}
.container .box .box-row .box-cell {
    display: table-cell;
    width: 50%;
    height: 100%;
    padding: 0;
}