body{
	margin: 0;
	background: url("../images/sitemap-img.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;



}
.sitemap-main {
	margin-right: 10px;
	height: 1000px;
	overflow: hidden;
}
.header-sitemap {
	padding-top: 30px;
	display: inline-block;
	background: #22253c;
	margin: auto;
	width: 100%;
	height: 80px;
}

#custom-shape{

}
h1{
	font-family: montserrat_semiboldregular, sans-serif;
	text-align:center;
	color: white;

}
.demo{
	Stroke-width:0.5;
	stroke:black;
}
.text{
	fill: #22253c;
	font-size:1.8px;
	stroke-width: 1px;
	font-family: montserrat_semiboldregular, sans-serif;

}
.content{
	stroke:#23a89b;
	stroke-width:0.5px;
}

.main-page{
	stroke:#22253c;
	stroke-width:0.5px;
	
}
.page-content{
	stroke:	#808080;
	stroke-width:0.5px;
	
}
.line{
	stroke:black;
	stroke-width:0.2px;
}
rect{
	fill: white;
}

.home{
	stroke:#2b2c28;
	stroke-width:0.5px;
	
}
.legend{
	font-size: 3px;
	font-family: montserrat_semiboldregular, sans-serif;

}
.legend rect{
	fill: none;
	stroke: black;
	stroke-width:0.2px;

}
