/* Pen-specific styles */
html, body{
    height: 100%;
    background-color: #A2E3C4;
}

.left-half {
    justify-content: center;
    width: 50%;
}
.bio {
    justify-content: center;
    width: 50%;
}

.left-half p{
    font-size: 60px;
    color: black;
    margin-top: 50px;
    margin-bottom: auto;
}

.right-half p{
    color: #fff;
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px

}
.books{
    padding-top: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top:20px ;
    font-size: 20px;


}

.right-half ul{
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 200px;

}

article h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
    color: #fff;
    font-family:montserrat_semiboldregular, sans-serif;
    line-height: 150%;
    text-align: center;
    background-color: #A2E3C4;
    margin-top: 50px;
    padding-left: 100px;
    margin-bottom: 150px;
}

.left-half {
    padding: 1rem;
}

.right-half {
    padding: 1rem;
    background-color: #46494c;
    height: 489px;
    margin-top: 140px;
    margin-right: 100px;
}

hr{
    height: 2px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 100%;
    margin-bottom: 40px;
}